body {
  margin: 0 auto;
}
#humberger {
  position: relative;
  height: 24px;
  width: 24px;
  display: inline-block;
  box-sizing: border-box;
}
#humberger div {
  position: absolute;
  left: 0;
  height: 4px;
  width: 24px;
  background-color: #444;
  border-radius: 2px;
  display: inline-block;
  box-sizing: border-box;
}
#humberger div:nth-of-type(1) {
  top: 0;
}
#humberger div:nth-of-type(2) {
  top: 10px;
}
#humberger div:nth-of-type(3) {
  bottom: 0;
}
header {
  height: 145px;
  display: flex;
  vertical-align: middle;
}

.mene-bar {
  flex: 2;
  padding: 0 auto;
  position: relative;
}

header h1 {
  flex: 8;
  text-align: center;
  margin: auto 0;
}

header nav {
  flex: 2;
  text-align: right;
  margin: auto 0;
}

header i {
  flex: 1;
}

.fab {
  padding: 10px;
}

.UI {
  min-height: 100vh;
}
.UI nav {
  display: flex; /* 子要素をflexboxで揃える */
  flex-direction: row; /* 子要素をflexboxにより縦方向に揃える */
  justify-content: center; /* 子要素をflexboxにより中央に配置する */
  align-items: center; /* 子要素をflexboxにより中央に配置する */
  margin-bottom: 30px;
}
.UI a {
  padding-left: 20px;
}
.image {
  margin-bottom: 100px;
}
.image h1 {
  outline: 1px solid black;
  background-color: skyblue;
  height: 489px;
  margin: 0 auto;
}

.who {
  height: 560px;
  width: 1280px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.who > section {
  display: flex;
  margin: 0;
}

.who h2 {
  flex: 1;
  font-size: 32px;
  letter-spacing: 15px;
  line-height: 100px;
}

.who p {
  margin: 0;
}
.who-left {
  margin: auto 0;
}

.who-left p {
  text-align: center;
  margin-bottom: 10px;
}

.who-btn {
}

.who-btn button {
  text-align: center;
  margin: auto 0;
  height: 40px;
  width: 300px;
  border: 1px solid deeppink;
  background-color: white;
  text-align: center;
  margin: 0 auto;
  box-shadow: 5px 5px 0px 0 rgb(60, 194, 235);
}

.who h3 {
  height: 540px;
  background-color: skyblue;
  margin: 0;
  flex: 3;
}

.news {
  height: 456px;
  outline: 1px solid black;
  margin-bottom: 100px;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.news-style,
.news-title {
  width: 400px;
}
.news-style {
  display: flex;
  flex-wrap: wrap;
}

.news-btn {
  writing-mode: vertical-rl;
  padding: 10px;
}
.news-content {
  flex-direction: row;
  width: 1000px;
}

.news-menu p {
  border-bottom: 3px solid rgb(189, 181, 181);
}

.news-box {
  height: 100px;
  width: auto;
  margin: 10px;
  display: flex;
  outline: 1px solid black;
}
.news-box img {
  height: 60px;
  width: 60px;
  margin: auto 10px;
  outline: 1px solid black;
  flex: 2;
}

.news-box h4 {
  margin: 10px auto;
  padding: 10px;
  flex: 5;
}

.news-box p {
  margin: 10px auto;
  padding: 10px;
  flex: 5;
}

.pick-up {
  height: 427px;
  width: 1205px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.pick-up-text {
  display: flex;
}

.pick-up-text h3 {
  padding-left: 80px;
  flex: 1;
  font-size: 32px;
}

.pick-up-content1,
.pick-up-content2 {
  display: flex;
}

.pick-up-box {
  height: 120px;
  width: 330px;
  margin: 10px;
  display: flex;
  outline: 1px solid black;
}

.pick-up-box p {
  margin: 10px auto;
  width: 200px;
  padding: 10px;
}
.pick-up-box img {
  outline: 1px solid black;
}

.cliant {
  padding: 0 30px;
  height: 1100px;
  margin-bottom: 200px;
}

.cliant-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cliant-logo img {
  width: 220px;
  height: 80px;
  outline: 1px solid black;
  margin: 10px 0;
}

aside {
  display: flex;
  margin-bottom: 100px;
  margin-left: 100px;
}

aside h1,
section {
  flex: 1;
}

aside h1 {
  font-size: 30px;
  margin: 0 auto;
  padding-top: 10px;
}

aside section {
  font-size: 10px;
  margin: 0 auto;
}

footer {
  display: flex;
  background-color: lightgray;
  height: 100px;
  padding-left: 20px;
  margin: 0;
  justify-content: space-between;
  font-style: normal;
}

.UI i {
  padding-right: 10px;
  font-size: 1.5em;
  width: 20px;
}

footer p,
div {
  flex: 1;
  margin: auto 0;
}

footer nav {
  flex: 3;
  margin: auto 0;
  display: flex;
}

footer a {
  flex: 1;
}
