<!DOCTYPE html>
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="test.css")
        link 
            href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" 
            rel="stylesheet"
    
    body
        header
            div .icon-hunberger
            div .title
                h1 Herointerview
            div .icon-sns
                i 
        div
            nav
            main
                div .section1
                div .section2
                div .section3
            aside
            

        footer

